<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人信息</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="/css/globe.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .word{
            font-size: 20px;
        }
    </style>
</head>

<body>
    <div id="header">
        <nav class="navbar navbar-default">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <i class="fa fa-comment"></i>
                    留言板
                </a>
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/">发表留言</a>
                    </li>
                    <li>
                        <a href="/message">查看留言</a>
                    </li>

                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="留言内容" id="searchText">
                        </div>
                        <a href="/search" class="btn btn-default" id="search">搜索</a>
                    </form>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="/info">个人资料</a>
                    </li>
                    <li>
                        <a href="/update">修改密码</a>
                    </li>
                    <li class="active">
                        <a href="/api/exit">注销</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
    </div>
    <div id="main" style="color:#333;">
        <div class="container">
            <div class="col-xs-6 col-md-offset-3">
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <i class="fa fa-user fa-2x"></i>
                            <p class="text-center">名字</p>
                        </div>
                        <div class="panel-body">
                            <div id="name" class="text-center word"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <i class="fa fa-envelope fa-2x"></i>
                            <p class="text-center">邮箱</p>
                        </div>
                        <div class="panel-body">
                            <div id="email" class="text-center word"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <i class="fa fa-phone fa-2x"></i>
                            <p class="text-center">联系方式</p>
                        </div>
                        <div class="panel-body">
                            <div id="phone" class="text-center word"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <i class="fa fa-comments fa-2x"></i>
                            <p class="text-center">个人简介</p>
                        </div>
                        <div class="panel-body">
                            <div id="info" class="text-center word"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="text-center">
                        <a id="update" class="btn btn-default" href="/info/update">修改</a>
                        <span>&nbsp;</span>
                        <a href="/" class="btn btn-default">返回</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/search.js"></script>
    <script>
        $.ajax({
            type: "post",
            url: "api/showInfo",
            dataType: "json",
            success: function (data) {
                var results = data.results;
                var name = results.name;
                var email = results.email;
                var phone = results.phone;
                var info = results.info;
                $("#name").text(name);
                $("#email").text(email);
                $("#phone").text(phone);
                $("#info").text(info);
                console.log(info);
            }
        })
    </script>
</body>

</html>